:root {
  --bg-color: #0B131E;
  --card-bg: #202B3B;
  --text-main: #FFFFFF;
  --text-secondary: #9399A2;
  --accent-color: #0095FF;
  --border-color: rgba(255, 255, 255, 0.08);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: radial-gradient(circle at top right, #161F2C 0%, #020306 100%);
  min-height: 100vh;
  padding: 40px;
  color: var(--text-main);
  overflow-x: hidden;
}

.meteo-container {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 30px;
  max-width: 1300px;
  margin: 0 auto;
}

.search-box { margin-bottom: 20px; }
input {
  width: 100%;
  padding: 16px;
  background: var(--card-bg);
  border: 1px solid var(--border-color);
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  transition: 0.5s ease;
}

.meteo-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}

.info-text h3 { font-size: 2.8rem; }
.info-text h1 { font-size: 6.5rem; font-weight: 800; }
.info-icon img { width: 180px; filter: drop-shadow(0 0 20px rgba(255,255,255,0.1)); }

.meteo-grid {
  background: var(--card-bg);
  padding: 35px;
  border-radius: 20px;
  border: 1px solid var(--border-color);
}
.grid-title { font-weight: bold; margin-bottom: 35px; letter-spacing: 1px; }

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.card-item {
  border-right: 1px solid var(--border-color);
}
.card-item:last-child { border: none; }
#forecast-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-secondary);
  margin-bottom: 10px;
}
.card-item h2 { font-size: 2rem; padding-left: 30px; }

.last-box {
  background: var(--card-bg);
  padding: 30px;
  border-radius: 20px;
  border: 1px solid var(--border-color);
}
.aside-title { font-weight: bold; margin-bottom: 25px; color: var(--text-secondary); }

.rec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
.rec-content { display: flex; align-items: center; gap: 10px; flex: 1; justify-content: center;}
.rec-content img { width: 45px; }
.rec-content h4 { font-size: 0.9rem; font-weight: normal; }
.temp-range b { color: white; }

.logo-bottom {
  text-align: center;
  margin-top: 50px;
  opacity: 0.3;
}
.logo-bottom h1 { font-size: 3rem; letter-spacing: 10px; text-transform: uppercase; }