*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #020306;
  width: 100%;
  height: 100%;
  padding: 40px;
  color: white;
}
p{
  color: #9399A2;
}
.meteo-container{
  display: grid;
  grid-template-columns: 1fr 450px;
  grid-template-rows:auto;
  gap: 30px;
   width: 100%;
  height: 100%;
}

.box{
  margin-top: 10px;
    height: auto;
    overflow-x: hidden;
}
input{
  padding: 12px 18px;
  font-weight: bold;
    background-color: #202b3b;
    color: white;
    border: 1px solid #353a42;
    border-radius: 15px;

}
.meteo-info{
  width: 100%;
padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.meteo-grid{
    padding: 10px 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);

}
.meteo-info h3{
  font-size: 2rem;
  margin-bottom: 10px;
}
.meteo-info h1{
  margin-top: 20px;
  font-size: 5rem;
}
.center .box{
display: flex;  
}
.cards{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  padding: 10px;
}
.card{
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center; 
  border-right: 1px solid #9399a22f;
}
.card:last-child{
  border: none;
}